src/main/mule/pgpencyption.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fc55a1b6-2705-40b8-a14e-a582a588fd0a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<crypto:pgp-config name="ecrypto_Pgp" doc:name="Crypto Pgp" doc:id="64e1f325-ca68-42ea-bea7-362a3a13c841" publicKeyring="certificates/publicCert/publicCert.gpg" privateKeyring="certificates/privateCert/privateCert.gpg" >
		<crypto:pgp-key-infos >
			<crypto:pgp-asymmetric-key-info keyId="1A637E43" principal="Sadik Ali (Demo) &lt;sadik.ali@kelltontech.com&gt;" passphrase="1234567890" />
		</crypto:pgp-key-infos>
	</crypto:pgp-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="c4cf6926-ee20-4cc5-b2de-bf08656c419e" >
		<vm:queues >
			<vm:queue queueName="pgpQueue" />
		</vm:queues>
	</vm:config>
	<flow name="pgpencyptionFlow" doc:id="97240f88-71d9-4b59-93e1-59564726feb8" >
		<http:listener doc:name="Http Listener" doc:id="e9d4e4d7-fe60-4eb9-a8b8-b6c580dc69af" config-ref="HTTP_Listener_config" path="/pgpEncryption" allowedMethods="POST"/>
		<crypto:pgp-encrypt doc:name="Pgp encrypt" doc:id="4f2a3de8-b878-439f-867e-4c300fc8e1e5" config-ref="ecrypto_Pgp" keyId="1A637E43" target="pgpVar"/>
		<logger level="INFO" doc:name="Logger" doc:id="a2a928bc-359b-4b6b-a849-34535d8deada" message="Encrypted  pgp Data --------- &gt; #[vars.pgpVar]"/>
		<vm:publish doc:name="Vm Publish" doc:id="fad5246e-c2a8-456b-8f5b-8e3a5fd16803" config-ref="VM_Config" queueName="pgpQueue">
			<vm:content ><![CDATA[#[vars.pgpVar]]]></vm:content>
		</vm:publish>
	</flow>
	<flow name="pgpencyptionFlow1" doc:id="3cabe87c-6054-4914-a595-0f9ec16d6c7b" >
		<vm:listener queueName="pgpQueue" doc:name="Listener" doc:id="95dd7438-5942-4aff-999c-4bc96039fb70" config-ref="VM_Config"/>
		<crypto:pgp-decrypt doc:name="Pgp decrypt" doc:id="5d8bf2c6-185d-435f-844a-c1a9296e6c8d" config-ref="ecrypto_Pgp"/>
		<logger level="INFO" doc:name="Logger" doc:id="d1752a2f-5fce-4311-a605-fc9c789d097a" message="Decrypted Value --------------------- &gt; #[payload]"/>
	</flow>
</mule>
